*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #e1dfdf;
}
aside{
    border-right: 2px solid #e1dfdf;
}
.card{
    border-radius: 35px;
    margin: auto;
    width: 90%;
}
.card .container{
    padding-left: 40px;
}
.auto{
    width: 45%;
    margin-left: auto;
    padding: 13px;
    border-radius: 15px 15px 0px 15px;
    background: #002147;
    color: white;
}
.autos{
    width: 25%;
    margin-left: auto;
    padding: 13px;
    border-radius: 15px;
    background: #002147;
    color: white;
}
.hellos{
    width: 56%;
    padding: 13px;
    border-radius: 15px 15px 15px 0px;
    background: #e1dfdf;
}
.hello{
    width: 16%;
    padding: 13px;
    border-radius: 15px;
    background: #e1dfdf;
}
.space{
    padding-bottom: 137px;
}
.chat-input{
    border-radius: 50px;
}
.chatinput{
    border-radius: 50px;
    border: 2px solid #002147;
}
.btn-chat{
    background: #e1dfdf;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 35px;
    font-weight: 600;
    width: 95%;
}
.chat-send{
    position: absolute;
    bottom: 5px;
    left: 450px;
    width: 18%;
}
.chat-layer{
    position: absolute;
    bottom: 10px;
    left: 420px;
    width: 8%;
}

